:root {
  --background-white: #ffffff;
  --text-white: #ffffff;
  --hero-background-color: #2f303a;
  --footer-backround-color: #2f303a;
  --hover-and-focus-color: #2196f3;
  --main-color: #212121;
  --main-text-color: #757575;
  --main-btn-color: #f5f4fa;
  --second-btn-color: #188ce8;
  --black-color: #000000;
  --second-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --clients-border-color: #afb1b8;
  --clients-svg-color: #afb1b8;
  --team-social-svg-color: #afb1b8;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--background-white);
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.features-title,
.project-filters-title {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------Header------------- */
.header {
  background-color: var(--background-white);
  border-bottom: 1px solid var(--header-border-color);
}
.webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-and-focus-color);

  padding-top: 24px;
  padding-bottom: 25px;
}
.studio {
  color: var(--black-color);
}
/*navigation*/
.header-section,
.navigation {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  margin-left: 93px;
  text-align: center;
}
.menu-list__item:not(:last-child) {
  margin-right: 50px;
}
.menu-list__link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-transition);
}
/*contacts*/
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-list .contact-list__item:not(:last-child) {
  margin-right: 50px;
}
.contact-list__mail,
.contact-list__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color var(--main-transition);
}
.current,
.menu-list__link:hover,
.menu-list__link:focus,
.contact-list__mail:hover,
.contact-list__mail:focus,
.contact-list__tel:hover,
.contact-list__tel:focus {
  color: var(--hover-and-focus-color);
}
.contact-list__icon {
  fill: currentColor;

  align-items: center;
  margin-right: 10px;
}
/*current-border*/
.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;

  background-color: var(--hover-and-focus-color);
}

/* -------------Hero------------- */
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);

  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--hover-and-focus-color);
  cursor: pointer;

  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-btn-color);
}
/* -------------Особенности------------- */
.features-list {
  display: flex;
}
.features-text-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-svg {
  display: inline-block;
}
.features-svg-icon {
  background-color: var(--second-background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
}

/* -------------Чем мы занимаемся------------- */
.working {
  padding-top: 0;
}
.working-list {
  display: flex;
}
.working-item {
  display: block;
  position: relative;
}
.working-item:not(:last-child) {
  margin-right: 30px;
}
.working-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.working-label {
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.working-label-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  display: block;
  width: 100%;
}
/* -------------Наша команда------------- */
.team {
  background-color: var(--second-background-color);
}
.team-item {
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-photo {
  display: block;
  margin-bottom: 30px;
}
.team-list {
  display: flex;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

/*социальные сети*/
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  color: var(--team-social-svg-color);
  background-color: var(--background-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition), color var(--main-transition);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--hover-and-focus-color);
  color: var(--text-white);
}
.team-social-svg {
  fill: currentColor;
}

/* -------------Клиенты------------- */
.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-border-color);
  border-radius: 4px;
  color: var(--clients-svg-color);
  outline: transparent;
  transition: border-color var(--main-transition), color var(--main-transition);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--hover-and-focus-color);
  color: var(--hover-and-focus-color);
}
.clients-svg {
  fill: currentColor;
}

/* -------------Footer------------- */
.footer {
  background-color: var(--footer-backround-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-and-focus-color);

  display: inline-block;
  margin-bottom: 20px;
}
.footer-studio {
  color: var(--text-white);
  margin-bottom: 0;
}
.footer-contacts {
  display: flex;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  transition: color var(--main-transition);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition);
}
.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-and-focus-color);
}
/*социальные сети футер*/
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-adress-section {
  display: block;
}
.footer-soc-section {
  display: block;
  margin-left: 70px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-soc-section-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  color: var(--text-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--hover-and-focus-color);
}
.footer-soc-svg {
  fill: currentColor;
}

/*......footer form.......*/
.footer-form-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  display: inline-block;
  margin-bottom: 20px;
}
.footer-subcribe {
  margin-left: auto;
}
.footer-form-wrap {
  display: flex;
}
.footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-white);

  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subcribe-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--hover-and-focus-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-transition);
}
.footer-subcribe-btn:hover,
.footer-subcribe-btn:focus {
  background-color: var(--second-btn-color);
}
.footer-form-svg {
  fill: currentColor;
  display: block;
  margin-left: 10px;
}
/* -------------ПОРТФОЛИО------------- */
/* -------------Фильтр------------- */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-btn-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  display: block;
  padding: 6px 22px;
  transition: color var(--main-transition), background-color var(--main-transition),
    box-shadow var(--main-transition);
}
.first-btn,
.filter-btn:hover,
.filter-btn:focus {
  color: var(--text-white);
  border-color: transparent;
  background-color: var(--hover-and-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* -------------Проекты------------- */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list-item {
  background-color: var(--background-white);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-list-item:nth-child(3n) {
  margin-right: 0;
}
.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}
.project-list-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.card-text {
  padding: 24px 20px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* -------------описание проектов------------- */
.project-description {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--main-transition);
}
.project-overlay-text {
  position: absolute;
  top: 63px;
  left: 24px;
  overflow: auto;
  opacity: 0;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-white);
  transition: opacity var(--main-transition);
}
.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}
.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
  opacity: 1;
}

/* -------------Модальное окно------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--backdrop-bg-color);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}
.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  background-color: var(--background-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-transition), opacity var(--main-transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black-color);
  background-color: var(--background-white);
  cursor: pointer;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--main-transition);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--hover-and-focus-color);
}
.modal-close-svg {
  fill: currentColor;
}

/*.......modal form.......*/
.modal-field {
  margin-bottom: 10px;
}
.comment {
  margin-bottom: 20px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  display: block;
  margin-bottom: 4px;
}
.modal-user-text {
  line-height: 1.14;
  letter-spacing: 0.01em;

  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color var(--main-transition);
}
.modal-user-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}
.modal-user-text:hover,
.modal-user-text:focus {
  border-color: var(--hover-and-focus-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--main-transition);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--hover-and-focus-color);
}
.modal-input-wrap {
  position: relative;
}
.input-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--main-transition);
}
.modal-input:hover + .input-svg,
.modal-input:focus + .input-svg {
  fill: var(--hover-and-focus-color);
}

/*......checkbox.........*/
.form-chek {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contract-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover-and-focus-color);
}
.icon-blank {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.4px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--background-white);

  transition: background-color var(--main-transition), border-color var(--main-transition);
}
.input-check:hover + .icon-blank,
.input-check:focus + .icon-blank {
  border-color: var(--hover-and-focus-color);
}
.input-check:checked + .icon-blank {
  background-origin: border-box;
  border-color: var(--hover-and-focus-color);
  background-color: var(--hover-and-focus-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: contain;
}
.send-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--hover-and-focus-color);

  display: block;
  text-align: center;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--main-transition);
}
.send-btn:hover,
.send-btn:focus {
  background-color: var(--second-btn-color);
}
